.checkout-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.field-group {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.field-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: bold;
}

.field-group input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.field-group select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    color: #d4d4d4;
    font-weight: normal;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #222;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eeebeb;
    border-radius: 5px;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
    color: #666;
}
